    html {
      height: 100%;
    }
    body {
       width: 800px;
       margin: 0 auto;
       padding-top: 5px;
       height: 100%;
    }
    h1.title{
      color:green;
      font-weight:bold;
      font-size:36px;
      font-style:italic;
    }
    h2.placeholder{
      color:red;
      font-weight:bold;
      font-size:24px;
      font-style:underline;
      padding:20px;
    }
    header {
        background-color:orange;
        color:white;
        text-align:center;
        padding:5px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 20px;
        display: block;
        width: 790px;
    }
    nav {
        line-height:30px;
        background-color:yellow;
        min-height:100%;
        width:125px;
        display:inline-block;
        vertical-align:top;
        padding:5px;
        font-size: 18px;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: green;
    }
    section {
        width: 330px;
        display: inline-block;
        padding-left:20px;
    }
    aside {
      width: 291px;
      display:inline-block;
      vertical-align:top;
      background-color:transparent;
      min-height: 100%;
      padding: 8px;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:green;
        color:white;
        text-align:center;
        padding:5px;
        display: block;
    }
